---
---

@import 'constants';
@import 'font.css';

html, body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-size: 14px;
  @include media-query(DESKTOP) {
    font-size: 16px;
  }
}

a {
  color: inherit;
  &:visited {
    color: inherit;
  }
}

.top-bar {
  width: 100%;
  position: sticky;
  top: 0;
  background-image: linear-gradient(90deg, aquamarine, cornflowerblue);
  border-bottom: 1px solid $TEXT-MEDIUM-COLOR;
  z-index: 100;

  .top-bar-text {
    width: 66%;
    margin: 0 auto;
    padding: 10px 2px;
    box-sizing: border-box;

    font-size: 24px;
    font-weight: 200;
    letter-spacing: -.05em;
    text-transform: capitalize;
  }
}

.home {
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(0deg, aquamarine, cornflowerblue);

  @include media-query(DESKTOP) {
    width: 66%;
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 16px;
    box-sizing: border-box;
    border-bottom: 1px solid $TEXT-MEDIUM-COLOR;
    background-image: linear-gradient(180deg, blueviolet, blue);

    @include media-query(DESKTOP) {
      padding: 0;
    }

    .header-image {
      width: 33%;
      min-height: 256px;
      background-image: linear-gradient(270deg, darkorange, deeppink);

      .header-profile-picture {
        width: 66%;
        padding-bottom: 66%;
        margin: 36px auto;
        border-radius: 50%;
        background-image: linear-gradient(90deg, darkorange, deeppink);
        background-image: url({{ site.baseurl }}/assets/covers/profile.jpg);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .header-info {
      box-sizing: border-box;
      flex-grow: 1;
      padding: 36px 16px;
      background-image: linear-gradient(90deg, darkorange, deeppink);

      .header-title {
        font-size: 30px;
        font-weight: 100;
        letter-spacing: -.1em;
      }

      .header-counter-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        box-sizing: border-box;

        .header-counter + .header-counter {
          margin-left: 48px;
        }

        .header-counter {
          padding: 20px 0;
          font-weight: 200;

          .header-counter-bold {
            display: inline;
            font-weight: 500;
          }
        }
      }

      .header-text {
        font-size: 18px;
        font-weight: 300;
      }
    }
  }
}

.posts {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;

  .post {
    width: 29%;
    flex-grow: 1;
    padding: 1% 1%;
    box-sizing: border-box;
  }
}

.post-gallery {
  width: 100%;
  position: relative;
  box-sizing: border-box;

  .gallery-thumbnail {
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .gallery-thumbnail.first {
    position: relative;
    top: 0;
    padding-bottom: 100%;
  }
}
