{% assign files = site.static_files | where_exp:"file","file.name contains include.prefix" %}

{% if files.size > 0 %}
  <div class="post">
    <div class="post-gallery">
      {% for file in files %}
        <a rel="{{ include.prefix }}" href="{{ site.baseurl }}{{ file.path }}" class="swipebox">
          {% if forloop.first %}
            <div class="gallery-thumbnail" style="background-image: url('{{ site.baseurl }}{{ file.path }}')"></div>
          {% endif %}
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}
