$TEXT-COLOR: #222;
$TEXT-ACCENT-COLOR: #777;
$TEXT-MEDIUM-COLOR: #aaa;
$TEXT-LIGHT-COLOR: #fff;
$BACKGROUND-COLOR: #fff;

$TRANSITION-PERIOD: 0.12s;
$DESKTOP_WITH: 800px;

@mixin media-query($canvas) {
  @if $canvas == DESKTOP {
   @media only screen and (min-width: $DESKTOP_WITH) { @content; }
  }
}
